!!! 5
html
  head
    script(src='http://static.ak.fbcdn.net/connect/en_US/core.js')
  body
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script
      window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\\/script>')
    //-script(defer, src='js/plugins.js')
    script(defer, src='/js/script.js')
    script(defer, src='/socket.io/socket.io.js')
    #main
      != body